<div class="register-container mt-5">

  <div class="login-title-wrapper d-flex justify-content-between">
    <h1 class="title">Passwort ändern</h1>
  </div>

  <div class="error-container">
    @for (error of errors; track error) {
      <p class="error">{{ error }}</p>
    }
  </div>
  @if (loading) {
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  } @else {
    <form [formGroup]="form" (ngSubmit)="changePassword()" class="mt-4 pb-4">

      <div class="row g-3">

        @if (isLoggedIn()) {
          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Aktuelles Passwort</mat-label>
              <input matInput type="password" [formControl]="currentPassword">
              @if (currentPassword.hasError('required')) {
                <mat-error>Aktuelles Passwort ist erforderlich</mat-error>
              }
            </mat-form-field>
          </div>
        }

        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Neues Passwort</mat-label>
            <input matInput type="password" [formControl]="newPassword">
            @if (newPassword.hasError('required')) {
              <mat-error>Neues Passwort ist erforderlich</mat-error>
            }
            @if (newPassword.hasError('minlength')) {
              <mat-error>Mindestens 8 Zeichen</mat-error>
            }
            @if (newPassword.hasError('maxlength')) {
              <mat-error>Maximal 32 Zeichen</mat-error>
            }

          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Neues Passwort bestätigen</mat-label>
            <input matInput type="password" [formControl]="confirmNewPassword">
            @if (confirmNewPassword.hasError('passwordMismatch')) {
              <mat-error>Passwörter stimmen nicht überein</mat-error>
            }
          </mat-form-field>
        </div>

        <!-- Buttons -->
        <div class="col-6 d-flex justify-content-start">
          <button mat-stroked-button type="button" (click)="cancel()">
            Abbrechen
          </button>
        </div>

        <div class="col-6 d-flex justify-content-end">
          <button mat-flat-button type="submit" [disabled]="form.invalid">
            Passwort ändern
          </button>
        </div>

      </div>

    </form>
  }


</div>
