<mat-card>
  <mat-card-content>
    <h2>Warenkorb</h2>

    @if (loading) {
    <p>Lade Tickets…</p>
    }

    @if (!loading && tickets.length === 0) {
    <p>Dein Warenkorb ist leer.</p>
    } @else {
    <div style="display:flex; gap:12px; margin-bottom: 12px;">
      <button mat-stroked-button (click)="clear()">Leeren</button>

      <a mat-raised-button color="primary" [routerLink]="['/cart/checkout']">
        Kaufen
      </a>
    </div>

    <div style="display:flex; flex-direction:column; gap:12px;">
      @for (t of tickets; track t.id) {
      <app-ticket-cart-item
        [ticket]="t"
        (remove)="removeTicket($event)">
      </app-ticket-cart-item>
      }
    </div>
    }
  </mat-card-content>
</mat-card>
